<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />"

    <application
        android:icon="@drawable/icon"
        android:label="QuickNotes" >
        <activity
            android:name=".MainActivity"
            android:label="QuickNotes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="android.helloworld.WelcomeActivity" />
        <activity android:name="android.helloworld.NoteDetailsActivity" />

        <provider
            android:name="android.helloworld.QuickNotesProvider"
            android:authorities="android.helloworld.quicknotesprovider" />

        <service android:name="android.helloworld.sync.QuickNotesSyncService" />

         <receiver android:name="android.helloworld.sync.ConnWatcher">
		     <intent-filter>
		         <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		 	</intent-filter>
		</receiver>
    </application>

</manifest>